
<p>Dentro del <b>OUTLET</b>. Caso inicial antes de poner datos</p>


{{!-- 
{{#each model as |game|}}
<p>Title: {{game.text}}</p>
<p>Sub: {{game.sub}}</p>
<p>Image: <img src={{game.image}} alt={{game.text}} /></p>
{{/each}} 
--}}
